@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
}
button:focus,
button:active {
  outline: none;
}
body {
  height: 99vh;
  background-color: #ff7700;
  background-image: url("../images/bodybg.svg");
  background-attachment: fixed;
  background-size: cover;
}
.header {
  flex-direction: column;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 2rem;
  margin-top: -1rem;
  font-size: 3.5rem;
  font-family: "Dancing Script", cursive;
  color: #ffffff;
}
.input {
  height: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.input input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 550;
  border: none;
  flex: 7;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.input button {
  border: none;
  display: block;
  color: #dee1ec;
  padding: 0.7rem 1rem;
  flex: 3;
  padding-right: 1rem;
  font-weight: 550;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #aa0000;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: 0.3s;
}
.input button:hover {
  color: #fff;
  background: #b2003d;
}

.input {
  height: 3rem;
  background: #fff;
  border-radius: 25px;
}
.data {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 65vh;
}
.bg {
  height: 400px;
  width: 400px;
}
.wrapper {
  display: flex;
  min-width: 30vw;
  flex-direction: column;
  padding: 5rem 5rem;
  margin: 2rem;
  border-radius: 20px;
  background-image: url("../images/bg.svg");

  background-size: cover;

  z-index: -5;
}

.wrapper p {
  font-size: 1.2rem;
}
.wrapper h3 {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.wrapper button {
  text-align: left;
  margin-top: 1rem;
  border: none;
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  background: #fff;
}
